.about-section-one {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  padding: 50px 0;
  height: 100vh;
}

.about-container {
  display: flex;
  max-width: 1600px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.about-img {
  flex: 1;
  max-width: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.about-text {
  flex: 1;
  color: #fff;
  padding: 2rem;
}

.about-tagline {
  font-size: 14px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #ccc;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.about-title {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Kenawe", sans-serif;
  margin: 0;
  line-height: 1.2;
}

.about-description {
  font-size: 16px;
  line-height: 1.6;
  font-family: "Montserrat", sans-serif;
  margin: 1.5rem 0;
  color: #ddd;
}

.about-btn {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.about-btn:hover {
  background-color: #f1f1f1;
  color: #333;
}

.about-section-two {
  background-color: rgba(189, 189, 189, 0.9);
  padding: 150px 0 0;
  position: relative;
  overflow: hidden;
  height: auto;
}

.about-two-container {
  text-align: center;
  margin-bottom: 2rem;
}

.about-two-text {
  max-width: 600px;
  margin: 0 auto;
  color: #333;
}

.about-two-tagline {
  font-size: 14px;
  letter-spacing: 2px;
  color: #666;
  margin-bottom: 1rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.about-two-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0.5rem 0;
  font-family: "Kenawe", sans-serif;
}

.about-two-description {
  font-size: 16px;
  line-height: 1.6;
  margin: 1.5rem 0;
  font-family: "Montserrat", sans-serif;
  color: #555;
}

.about-two-btn {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.about-two-btn:hover {
  background-color: #555;
}

.slider-container {
  width: 100%;
  text-align: center;
  overflow: hidden;
  height: 200px;
  z-index: 200;
}

.slider {
  position: absolute;
  white-space: nowrap;
  display: flex;
  text-transform: uppercase;
  cursor: default;
  font-family: "Bebas Neue", sans-serif;
}

.slider p {
  margin: 0px;
  color: white;
  font-size: 200px;
  font-weight: 500;
}

.slider p:nth-of-type(2) {
  position: absolute;
  left: 100%;
}

/* General Section Styles */
.about-section-three {
  padding: 50px 20px;
  background-color: #f9f9f9;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr)); /* Responsive grid */
  gap: 20px; /* Space between grid items */
  padding: 0 15%;
}

.grid-item {
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  height: 600px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.5s ease-in-out; /* Smooth hover animation for image */
}

.grid-item:hover img {
  transform: scale(1.01); /* Zoom-in effect on hover */
}

.grid-item h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #fff;
  z-index: 5;
  text-transform: uppercase;
  font-weight: bold;
  pointer-events: none;
  transition: transform 0.5s ease-in-out;
}

.grid-item:hover h2 {
  transform: translate(-50%, -70%);
  transition: transform 0.5s ease-in-out;
}

.card-title {
  font-family: Arial, Helvetica, sans-serif;
}

.card-content {
  position: relative;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.card-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.card-button {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.card-button:hover {
  background-color: #333;
}

@media screen and (max-width: 768px) {
  .about-section-two {
    padding: 20px;
  }

  .slider p {
    font-size: 150px;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .about-section-one {
    padding: 20px 0;
    height: auto;
  }

  .about-section-two {
    padding: 100px 0 0;
  }

  .about-two-title {
    font-size: 1.9rem;
  }

  .about-section-three {
    padding: 50px 0;
    background-color: #f9f9f9;
  }

  .about-img {
    max-width: 100%;
  }

  .about-container {
    flex-direction: column;
  }

  .slider p {
    font-size: 150px;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }
}
